<article class="message" id="msg-{{ msg.id }}">
  <header class="message-header">
    <strong class="message-author">{{ msg.author }}</strong>
    <time class="timestamp" datetime="{{ msg.timestamp }}" data-format="datetime">{{ msg.timestamp[:10] }} {{ msg.timestamp[11:16] }}</time>
    {% if msg.edited %}<span class="edited">(edited)</span>{% endif %}
  </header>
  <div class="message-content">
    {{ msg.content | safe }}
  </div>
  {% if msg.embeds %}
    {% for embed in msg.embeds %}
      {% include "embed.html.j2" %}
    {% endfor %}
  {% endif %}
  {% if msg.attachments %}
    <div class="attachments">
      {% for att in msg.attachments %}
        {% include "attachment.html.j2" %}
      {% endfor %}
    </div>
  {% endif %}
  {% if msg.reactions %}
    <div class="reactions">
      {% for r in msg.reactions %}
        <span class="reaction">{{ r.emoji }} {{ r.count }}</span>
      {% endfor %}
    </div>
  {% endif %}
</article>
